*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f2eae2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

.container {
  background-color: white;
  width: 90%;
  border-radius: 8px;
  max-width: 400px;
}

.product--image-sm {
  border-radius: 8px 8px 0 0;
}

.product--image--lg {
  display: none;
}

.content {
  padding: 1rem 1.75rem;
}

.title {
  color: #6c7289;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.header {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  margin: 0;
  line-height: 1em;
}

.description {
  font-size: 0.875rem;
  color: #6c7289;
  line-height: 1.5rem;
}

.prices {
  display: flex;
  align-items: center;
}

.prices--main {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: #3d8168;
  margin: 0;
  margin-right: 0.5em;
}

.prices--secondary {
  font-size: 0.8125rem;
  text-decoration: line-through;
  color: #6c7289;
}

.cart--button {
  text-decoration: none;
  color: white;
  background-color: #3d8168;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.875em 0;
  border-radius: 8px;
  margin-top: 0.75em;
}

.cart--button img {
  margin-right: 0.5em;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 10%;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 750px) {
  .product--image--sm {
    display: none;
  }

  .product--image--lg {
    display: block;
    max-height: 450px;
    border-radius: 8px 0 0 8px;
  }

  .container {
    display: flex;
    max-width: 600px;
  }
}
